<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
        
</body>
</html>


<form action="{% url 'create_post' %}" method="post" enctype="multipart/form-data">
        {%csrf_token%} {{post_form.as_p}}
        <input type="submit" class="btn btn-outline-secondary btn-lg" value="Post">
</form>