{% block content %}
<div class="container">

    <div class="row">
        {% if profiles%}
        <h2>Found {{message}}</h2>
        {% else %}
        <h2> N0 user by name {{message}}</h2>
        {% endif %}

    </div>

    <div class="row">

        {% if profiles %} {% for profile in profiles %}
        <div class="col-sm-6 col-md-12">

            <img src="{{profile.profile_photo.url}}" class="img-reponsive" width="300px" height="300px"><br>
            <span class="badge badge-secondary"> <p> username: {{profile.user.username}}</p></span> {% if bio %}
            <h1> Bio: {{profile.bio}}</h1>

            {% endif %}
        </div>
        {% endfor %} {% endif %}
    </div>
</div>
{% endblock %}0