{% include 'base.html' %} {% block content %}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.js"></script>

</head>
<style>
    #btn {
        color: black;
    }
</style>

<div class="ui four column doubling stackable grid container" style="
                                  margin-top: 107px;">

    <p>

        <p></p>
        <div class="column">
            {% for prof in profile %} {% if prof.profile_img %}
            <img class="ui avatar image" src="{{prof.profile_img.url}}">
            <span>{{user.username}}</span> {% endif %} {% endfor %}
            <p>
                <h4></h4>

                <br>

                <p> <b>full name:</b> {{user.get_full_name}}</p><br>
                <b>EMAIL:</b> {{user.email}}<br> <b>BIO</b>{{user.bio}} <br> <b>Bio</b>{{ user.profile.bio }}
            </p>
        </div>
        <div class="column">
            <p> <a href="{% url 'edit_profile'  %}"><button class="ui basic loading button"><span id="btn"> edit profile</span></button></a>
            </p>
            <p>
                <form action="{% url 'newprofile' %}" method="post" enctype="multipart/form-data">
                    {%csrf_token%} {{profile_form.as_p}}
                    <h3>profile pic</h3>
                    <input type="submit" class="btn btn-outline-secondary btn-lg" value="Post" style="float: left;width: 112px;">
                </form>
            </p>
        </div>
        <div class="column">
            <p></p>
        </div>
        {{test}}
        <div class="ui  images">

            {% for img in images %}

            <img src="{{img.image.url}}" alt="" style="
        width: 59%;"> {{img.image_name}} {% endfor %}

        </div>

</div>













{% endblock %}